#map {
    height: 400px;
    width: 500px;
    position: initial;
    margin: auto;
}

.box {
    position: relative;
    background-color: lightgoldenrodyellow;
    width: 100%;
    margin: auto;
    text-align: center;
}

/* Popup styling */

#ifNaN {
    display: none;
}

#ifOverBudget {
    display: none;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(41, 171, 164, 0.8);
    opacity: 1;
    transition: all 0.25s ease-in-out;
  }

  .modal {
    width: 600px;
    height: 400px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: -60%; 
    left: 50%;
    background: #fff;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .head { 
    height: 32px;
    padding: 12px 30px;
    overflow: hidden;
    background: #e2525c;
  }

  .content {
    padding: 10%;
  }
  
  .good-job {
    text-align: center;
    font-family: 'Montserrat', Arial,       Helvetica, sans-serif;
    color: #e2525c;
  }
  .good-job .fa-thumbs-o-up {
    font-size: 60px;
  }
  .good-job h1 {
    font-size: 45px;
  }

/* End popup styling */

.budgetBox {
    display: none;
}

.searchCard {
    display: none;
}

#submitBudget {
    background-color: teal;
    color: white;
}

#remainingBudget {
    font-size: 20px;
    padding-top: 10px;

}

#budgetTotal {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    font-size: 70px;
}
.box2 {
    position: center;
    margin: 0 auto;
    background-color: #ece7e4;
    width: 80%;
    border-radius: 30px;
}
.mainText {
    color: #dfd8d3;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.headerFont1 {
    font-weight: null;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}
.headerFont2 {
    color: black;
    font-weight: null;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#histroy {
    position: center;
}
body {
    background-color: #f4f3f1;
    background-image: url(../images/Zuccini-Boats-Courgette-Pizza-Salted-Mint.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
    
}

#userChoices {
    font-weight: bold;
     height: auto;
     width: 60%;
     background-color: #004256;
     margin: 0 auto;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding: 30px;
    border-radius: 30px;
    font-size: 25px;
    border-radius: 30px;
}

#choiceName {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.numberOfPeople {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

#yelpLink {
    float: right;
}

.choiceButtons {
    padding-top: 20px;
}
#numberPeople1 {
    margin-top: 10px;
}
#numberPeople2 {
    margin-top: 10px;
}
#numberPeople3 {
    margin-top: 10px;
}
.numberChoices {
    text-align: center;
}

#mainPage {
    background-color: white;
}

*, ::before, ::after {
    box-sizing: unset;
}

#budgetReturn {
    margin: 20px;
}

.clearing {
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 1020px) {
  
    .btn-floating {display: none;}
    }

@media only screen and (max-width: 700px) {
  
    #map  {
        height: 300px;
        width: 325px;
      }
      #screenOptimize1 {
          width: 100%;
      }

      #screenOptimize2{
          width: 100%;
      }
    }
    
@media only screen and (max-width: 560px) {
        
    #map  {
            height: 200px;
            width: 250px;
        }
    .material-icons {
            display: none;
        }
  }