#map {
    height: 400px;
    width: 500px;
    position: initial;
    margin: auto;
}

.box {
    position: relative;
    background-color: lightgoldenrodyellow;
    width: 60%;
    margin: auto;
    text-align: center;
}

.budgetBox {
    display: none;
}

.searchCard {
    display: none;
}

#remainingBudget {
    font-size: 20px;
    padding-top: 10px;

}

#budgetTotal {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    font-size: 70px;
}

#choiceName {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

#yelpLink {
    float: right;
}

.choiceButtons {
    padding-top: 20px;
}